################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.dll
*.xml
*.pdb
*.exe
*.dat
*.config
*.CopyComplete
/obj/Debug
/obj/Release
